name: CI
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
        mongodb-version: [4.4]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install modules
      run: yarn
    - name: Run ESLint
      run: yarn lint
    - name: Start MongoDB
      env:
        DOCKER_API_VERSION: "1.44"
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
    - name: Run Tests
      env:
        MATIC_RPC_URL: https://rpc.ankr.com/polygon
        MAINNET_RPC_URL: https://rpc.ankr.com/eth
        MAINNET_WS_URL: wss://eth.llamarpc.com
        ARBITRUM_RPC_URL: https://rpc.ankr.com/arbitrum
        BASE_RPC_URL: https://developer-access-mainnet.base.org
        ZKSYNC_RPC_URL: https://rpc.ankr.com/zksync_era
        HYPEREVM_RPC_URL: https://hyperliquid.drpc.org
        GET_POOL_DATA_BATCH_SIZE: 2
        GET_VAULT_DATA_BATCH_SIZE: 2
      run: yarn test
